@model IEnumerable<NewsAppMVC.Models.Article>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="container">
    @{int itemCount = 0; }
    @for (int j = 0; j < Math.Ceiling((double)Model.Count() / 3); j++)
    {
        int counter = 0;
        <div class="row">
        @for (int i = j * 3; itemCount < Model.Count(); i++)
        {
            if(counter == 3)
            {
                break;
            }
            var item = Model.ElementAt(i);

            <div class="col-md-4">
                <div class="card, center-block" style="width: 20rem;">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>

                    <ul class="list-group list-group-flush">
                        @foreach (var topicName in item.Topics.ToList())
                        {
                            <li class="list-group-item">@topicName.Name</li>
                        }

                    </ul>
                    <div class="card-body">
                        <a href="#" class="card-link">@item.Author.FirstName @item.Author.LastName</a>
                    </div>
                </div>
            </div>
            counter++;
            itemCount++;
        }
            </div>
    }

</div>
   

